{% extends 'layouts/main.html.twig' %}
{% block title %}Modifier le rendez-vous
{% endblock %}

{% block page_header %}
	<div class="row">
		<div class="col-12">
			<div class="page-title-box d-sm-flex align-items-center justify-content-between">
				<div>
					<h4 class="mb-sm-0">
						<i class="ri-calendar-2-line"></i>
						Gestion des Rendez-vous
					</h4>
					<p class="text-muted mb-0">Modifier - Payer un rendez-vous</p>
				</div>
				<div class="page-title-right">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item">
							<a href="{{ path('admin_dashboard') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Rendez-vous</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="row mb-3 pb-1">
				<div class="row mb-3">
					<div class="d-flex align-items-center justify-content-between">
						<h4 class="fs-16 mb-0">Modifier le rendez-vous n°: <strong>{{ rdv.id }}</strong></h4>
            
						<a href="{{ path('app_rdv_index') }}" class="btn btn-ghost-secondary">
							<i class="ri-arrow-left-line"></i>
							Retour
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			{% include 'rdv/_form.html.twig' with { form: form, button_label: 'Enregistrer' } %}
		</div>
	</div>
{% endblock %}
